In [1]:
import numpy as np
import pandas as pd

In [53]:
df_crypto_adoption = pd.read_csv("Crypto Adoption.csv", sep=";", index_col="Country")
df_crypto_adoption

,Index score,Overall index ranking,On-chain value received,On-chain retail value received,P2P exchange trade volume
Country,,,,,
Vietnam,1.00,1,4,2,3
India,0.37,2,2,3,72
Pakistan,0.36,3,11,12,8
Ukraine,0.29,4,6,5,40
Kenya,0.28,5,41,28,1

In [54]:
df_rural_population = pd.read_csv("Rural Population.csv", index_col="Country Name")
df_rural_population = df_rural_population.loc[:,["2020"]].rename({"2020": "Rural population (% of total population)"}, axis="columns")
df_rural_population

                             Rural population (% of total population)
Country Name
Aruba                                                       56.303000
Africa Eastern and Southern                                 63.216694
Afghanistan                                                 73.974000
Africa Western and Central                                  52.151375
Angola                                                      33.175000
...                                                               ...
Kosovo                                                            NaN
Yemen, Rep.                                                 62.092000
South Africa                                                32.646000
Zambia                                                      55.371000
Zimbabwe                                                    67.758000

[266 rows x 1 columns]

In [55]:
df_crypto_all = pd.merge(df_crypto_adoption, df_rural_population, left_index=True, right_index=True)
df_crypto_all

,Index score,Overall index ranking,On-chain value received,On-chain retail value received,P2P exchange trade volume,Rural population (% of total population)
Vietnam,1.00,1,4,2,3,62.660
India,0.37,2,2,3,72,65.074
Pakistan,0.36,3,11,12,8,62.835
Ukraine,0.29,4,6,5,40,30.392
Kenya,0.28,5,41,28,1,72.005