In [2]:
import numpy as np
import pandas as pd

In [2]:
df_crypto_adoption = pd.read_csv("../crypto_adoption_emerging_countries/input/Crypto Adoption.csv", sep=";", index_col="Country")
df_crypto_adoption

,Index score,Overall index ranking,On-chain value received,On-chain retail value received,P2P exchange trade volume
Country,,,,,
Vietnam,1.00,1,4,2,3
India,0.37,2,2,3,72
Pakistan,0.36,3,11,12,8
Ukraine,0.29,4,6,5,40
Kenya,0.28,5,41,28,1

In [3]:
df_rural_population = pd.read_csv("../crypto_adoption_emerging_countries/input/Rural Population.csv", index_col="Country Name")
df_rural_population = df_rural_population.loc[:,["2020"]].rename({"2020": "Rural population (% of total population)"}, axis="columns")
df_rural_population

                             Rural population (% of total population)
Country Name
Aruba                                                       56.303000
Africa Eastern and Southern                                 63.216694
Afghanistan                                                 73.974000
Africa Western and Central                                  52.151375
Angola                                                      33.175000
...                                                               ...
Kosovo                                                            NaN
Yemen, Rep.                                                 62.092000
South Africa                                                32.646000
Zambia                                                      55.371000
Zimbabwe                                                    67.758000

[266 rows x 1 columns]

In [4]:
df_crypto_all = pd.merge(df_crypto_adoption, df_rural_population, left_index=True, right_index=True)
df_crypto_all

,Index score,Overall index ranking,On-chain value received,On-chain retail value received,P2P exchange trade volume,Rural population (% of total population)
Vietnam,1.00,1,4,2,3,62.660
India,0.37,2,2,3,72,65.074
Pakistan,0.36,3,11,12,8,62.835
Ukraine,0.29,4,6,5,40,30.392
Kenya,0.28,5,41,28,1,72.005

In [7]:
df_financial_incl = pd.read_csv("../crypto_adoption_emerging_countries/input/Financial Inclusion.csv", index_col="Country Name")
df_financial_incl

,Country Code,Series Name,Series Code,2017 [YR2017],2021 [YR2021]
Country Name,,,,,
Afghanistan,AFG,Account (% age 15+),account.t.d,14.89,9.65
Afghanistan,AFG,"Account, income, poorest 40% (% ages 15+)",account.t.d.7,13.8,5.86
Afghanistan,AFG,"Account, rural (% age 15+)",account.t.d.9,..,7.2
Afghanistan,AFG,Borrowed any money using a mobile money accoun...,fin13c,..,..
Afghanistan,AFG,Borrowed any money from a formal financial ins...,fin22a.c.MM.d,..,2.05
...,...,...,...,...,...
World,WLD,Owns a credit card (% age 15+),fin7.t.d,18.13,24.48
World,WLD,"Owns a credit card, rural (% age 15+)",fin7.t.d.9,..,..
World,WLD,Received digital payments (% age 15+),g20.receive.t.d,34.1,42.59
World,WLD,"Received digital payments, rural (% age 15+)",g20.receive.t.d.9,..,..
World,WLD,"Received digital payments, income, poorest 40%...",g20.receive.t.d.7,27.08,37.7

In [8]:
#Note to Tobi: Review statistical tests before finalizing table format!!!

In [4]:
df_country_all = pd.read_csv("../crypto_adoption_emerging_countries/input/All Country Data.csv", index_col="Country")
df_country_all

,C,CC,RQ,D,EF,HDI,E,G,CPI,GDP,N
Country,,,,,,,,,,,
Afghanistan,0.000,6.73,10.10,2.85,51.50,0.511,0.414,29.70,16,2542.853,41.77
Albania,0.010,33.17,63.94,5.89,66.50,0.795,0.746,33.20,35,14534.109,46.57
Algeria,0.000,29.33,7.69,4.01,46.20,0.748,0.672,27.60,35,11894.859,35.30
Angola,0.016,13.94,16.35,3.72,50.60,0.581,0.500,51.30,26,7346.304,29.77
Argentina,0.174,53.37,33.65,7.02,52.20,0.845,0.855,41.40,45,22997.000,51.27
...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,0.799,4.33,0.48,2.88,25.90,0.711,0.700,52.15,16,7344.079,34.14
Vietnam,0.443,34.13,41.83,3.08,55.30,0.704,0.630,35.70,37,10535.168,49.57
Yemen,0.005,1.92,4.33,1.95,60.85,0.470,0.350,36.70,15,2056.586,12.33
Zambia,0.051,28.37,31.25,5.09,53.60,0.584,0.557,57.10,34,3526.397,26.20
Zimbabwe,0.000,10.10,6.25,3.16,40.40,0.571,0.587,44.30,24,2869.348,22.00

In [5]:
df_crypto_all = df_country_all["C"]
df_crypto_all

Country
Afghanistan    0.000
Albania        0.010
Algeria        0.000
Angola         0.016
Argentina      0.174
               ...
Venezuela      0.799
Vietnam        0.443
Yemen          0.005
Zambia         0.051
Zimbabwe       0.000
Name: C, Length: 137, dtype: float64

In [8]:
df_hdi_all = df_country_all.loc[:, df_country_all.columns!="C"]
df_hdi_all

,CC,RQ,D,EF,HDI,E,G,CPI,GDP,N
Country,,,,,,,,,,
Afghanistan,6.73,10.10,2.85,51.50,0.511,0.414,29.70,16,2542.853,41.77
Albania,33.17,63.94,5.89,66.50,0.795,0.746,33.20,35,14534.109,46.57
Algeria,29.33,7.69,4.01,46.20,0.748,0.672,27.60,35,11894.859,35.30
Angola,13.94,16.35,3.72,50.60,0.581,0.500,51.30,26,7346.304,29.77
Argentina,53.37,33.65,7.02,52.20,0.845,0.855,41.40,45,22997.000,51.27
...,...,...,...,...,...,...,...,...,...,...
Venezuela,4.33,0.48,2.88,25.90,0.711,0.700,52.15,16,7344.079,34.14
Vietnam,34.13,41.83,3.08,55.30,0.704,0.630,35.70,37,10535.168,49.57
Yemen,1.92,4.33,1.95,60.85,0.470,0.350,36.70,15,2056.586,12.33
Zambia,28.37,31.25,5.09,53.60,0.584,0.557,57.10,34,3526.397,26.20
Zimbabwe,10.10,6.25,3.16,40.40,0.571,0.587,44.30,24,2869.348,22.00