In [1]:
import numpy as np
import pandas as pd

In [9]:
pd_crypto_adoption = pd.read_csv("Crypto Adoption.csv", sep=";", index_col="Country")
pd_crypto_adoption

,Index score,Overall index ranking,On-chain value received,On-chain retail value received,P2P exchange trade volume
Country,,,,,
Vietnam,"1,00",1,4,2,3
India,"0,37",2,2,3,72
Pakistan,"0,36",3,11,12,8
Ukraine,"0,29",4,6,5,40
Kenya,"0,28",5,41,28,1